body{
    margin: 0;
    padding: 0;
  }
  
  #navbar{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: green;
    padding: 20px;
    text-align: center;
    z-index: 2;
    margin: 0;
  
  }

  .nav{
    position: relative;
    
  }
  .nav-link{
    color: white !important;
    

  }
  
  .welcome{
    height: 100vh;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: gray;  
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    margin: 0;
  }
  .welcome-heading{
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
  
  }
  .description{
    color: yellow;
    font-family: fantasy;
    font-size: 1.4rem;
  }
  .contacts{
    width: 100%;
    background-color: #f4f4f4;
    padding: 7px;
    box-sizing: border-box;
  
  }
  .contact-title,.projects-header{
    text-align: center;
    font-size: 3rem;
    margin: 20px auto;
  }
  .socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .social, .social>*{
    margin: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 19px
  }
  
  .bi{
    font-size: 1.8rem;
    color: grey;
    margin-right: 5px
  }
  
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
  }
  
  .project-image{
    width: 400px;
    height: 350px
  }
  .project{
    height: fit-content
  }
  a{
    text-decoration: none;
  
  }
  
  .project-tile{
    color: white;
    background-color: green;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    top: -25px;
    font-size: 20px;
  
  }
  
  
  .project:hover{
    box-shadow: -5px -5px  3px gray ;
  }
  
  @media (max-width: 700px){
    .nav-link{
      font-size: 18px;
      margin: 8%;
    }
    .welcome-heading{
      font-size: 2.3rem
    }
    .description{
      font-size: 1rem
    }
    .contact-title,.projects-header{
      font-size: 2.4rem
    }
    .bi{
      font-size: 1.3rem;
    }
    .socials{
    flex-direction: column;
  }
    .projects{
    grid-template-columns: 1fr ;
    }
    .project-image{
    width: 300px;
    height: 250px
  }
    .project-tile{
      font-size: 18px
    }
  }
  @media (max-width: 900px){
    .project-image{
    width: 300px;
    height: 250px
  }
  }